:root{
    --verde-300: #566700;
    --rosa-100: #FF94DB;
    --verde-100: #B6DB00;
    --azul-100: #E5F0FE;
    --azul-300: #4B75FF;
    --branco: #FFF;
    --preto: #505050;
}

.container-servicos {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    text-align: center;
}

.header-servicos h2 { color: var(--preto); font-size: 1.1rem; margin-bottom: 5px; }
.header-servicos h1 { font-size: 2.5rem; margin-bottom: 40px; }


.container-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}

.cardServices {
    width: 250px;
    border: 1px solid var(--branco);
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--branco);
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.icon-area {
    width: 100%;
    height: 150px; 
    overflow: hidden; 
    display: block; 
    padding: 0; 
}


.icon-area img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}
.info-area {
    padding: 20px;
}

.info-area h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--preto);
}

.info-area p {
    font-size: 0.9rem;
    color: var(--preto);
    height: 60px; 
}
